name: Mirroring

on: [push, delete]

jobs:
  to_github:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: pixta-dev/repository-mirroring-action@v1
      with:
        target_repo_url:
          git@github.com:nomasprime/playtimestudios.www.git
        ssh_private_key:
          ${{ secrets.SSH_PRIVATE_KEY }}
